# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [2]:
import pandas as pd
import numpy as np

In [15]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

**13.** Change the age in row 'f' to 1.5.

In [ ]:
# YOUR CODE HERE
#raise NotImplementedError()

In [16]:
assert df['age']['f'] == 1.5

AssertionError:

In [17]:
df.loc['f', 'age'] = 1.5
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [12]:
# YOUR CODE HERE
#raise NotImplementedError()

In [13]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

AssertionError:

In [25]:
df=df.sort_values(by=['age'],ascending=[False])
df

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [26]:
df=df.sort_values(by=['visits'],ascending=[True])
df

  animal  age  visits priority
g  snake  4.5       1       no
j    dog  3.0       1       no
a    cat  2.5       1      yes
h    cat  NaN       1      yes
i    dog  7.0       2       no
e    dog  5.0       2       no
c  snake  0.5       2       no
b    cat  3.0       3      yes
f    cat  1.5       3       no
d    dog  NaN       3      yes

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

In [29]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
df=df.sub(df.mean(axis=1), axis=0)
df

          0         1         2
0  0.346961  0.006685  0.517363
1  0.842776  0.228055  0.515447
2  0.483554  0.005204  0.773323
3  0.108279  0.101813  0.720787
4  0.263086  0.393330  0.775150

          0         1         2
0  0.056624 -0.283651  0.227027
1  0.314017 -0.300704 -0.013312
2  0.062861 -0.415490  0.352629
3 -0.202013 -0.208480  0.410494
4 -0.214103 -0.083859  0.297961

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert idx in 'abcdefghij'

In [31]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df.sum().idxmin()

'h'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

In [37]:
nan = np.nan

data = [[0.06,  nan,  nan, 0.52,  nan, 0.13, 0.55, 0.68,  nan,  nan],
        [ nan,  nan,  nan, 0.25, 0.85,  nan,  nan, 0.58, 0.16, 0.15],
        [ nan,  nan, 0.16 ,  nan, 0.15, 0.24 ,  nan,  nan, 0.17, 0.72],
        [0.59,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.22,  nan, 0.20,  nan, 0.17,  nan, 0.47, 0.58]]

columns = list('mnopqrstuv')

df = pd.DataFrame(data, columns=columns)
print(df)


df=(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)
df

      m   n     o     p     q     r     s     t     u     v
0  0.06 NaN   NaN  0.52   NaN  0.13  0.55  0.68   NaN   NaN
1   NaN NaN   NaN  0.25  0.85   NaN   NaN  0.58  0.16  0.15
2   NaN NaN  0.16   NaN  0.15  0.24   NaN   NaN  0.17  0.72
3  0.59 NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
4   NaN NaN  0.22   NaN  0.20   NaN  0.17   NaN  0.47  0.58

0    q
1    o
2    p
3    t
4    p
dtype: object

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345